<%- include('partials/header') -%>

<div class="container">
  <form method="POST" action="/download">
    <div class="form-group">
      <label style="font-weight: bold; font-size: smaller;"
        >Generated Key: </label>
      <input
        name="key"
        value="<%= key %>"
        style="font-size: x-small; width: 450px;"
        readonly
      />
    </div>
    <div class="form-group">
      <label style="font-weight: bold; font-size: smaller;">RAW Paste</label>
      <textarea
        name="raw_paste"
        class="form-control"
        rows="30"
        style="
          font-size: x-small;
          font-family: 'Courier New', Courier, monospace;
        "
        readonly
      >
    <%= paste %>
  </textarea>
    </div>
    
  </form>
  <!-- button taken out of form and given download id -->
  <button
      id="download"
      class="btn btn-secondary btn-sm"
      style="font-size: x-small;"
    >
      Download
    </button>
</div>
<!-- added new window script for download -->
<script>
  var download = document.getElementById("download");
  download.onclick = (e) => {
    window.open("./download")
  }

</script>

<%- include('partials/footer') -%>
